{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing.status == listing.Status.CLOSED %}

        <h1>Listing Closed</h1>

        {% if user.is_authenticated and user == listing.winner %}

            <p>Congratulations,  <strong>{{ listing.winner }}</strong>, you won this auction.</p>
            
        {% endif %}

    {% else %}

        <h2>{{ listing.title }}</h2>
        <br>

        <h3>Price</h3>
        <p>Current Price: <strong>${{ highest_bid|default:listing.price }}</strong></p>
        
        <h3>Category</h3>
        <p>{{ listing.get_category_display }}</p>

        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        {% if user.is_authenticated and user == listing.user %}

            <form action="{% url 'close_listing' listing.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Close listing</button>
            </form>

        {% elif user.is_authenticated %}

            <form action="{% url 'listing_detail' listing.id %}" method="POST">
                {% csrf_token %}
                {{ bid_form }}  <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
            <br>
            <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if is_in_watchlist %}
                        Remove from Watchlist 💔
                    {% else %}
                        Add to Watchlist ❤️
                    {% endif %}
                </button>
            </form>

        {% endif %}

        {% if user.is_authenticated %}

            <!-- Comments -->
            <hr>
            <h3>Add a new comment</h3>
            
            <form action="{% url 'add_comment' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }} <button type="submit" class="btn btn-primary">Add comment</button>
            </form>

            <br>
            <h3>Comments</h3>

            {% for comment in comments %}

                <hr>
                <p><strong>{{ comment.user }}: </strong>{{ comment.content }}</p>
                <hr>

            {% empty %}
            
                <p>There are no comments.</p>

            {% endfor %}

        {% endif %}

    {% endif %}

{% endblock %}